<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--在web.xml文件中配置错误页面管理-->
    <!--error-page标签配置，服务器出错之后，自动跳转的页面-->
    <error-page>
        <!--error-code是错误的类型-->
        <error-code>500</error-code>
        <location>/pages/error/error500.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/pages/error/error404.jsp</location>
    </error-page>

    <!--配置TransactionFilter的servlet-->
    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>org.example.filter.TransactionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <!--/* 表示当前工程下所有请求-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--配置Filter过滤器-->
    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>org.example.filter.ManagerFilter</filter-class>
    </filter>
    <!--filter-mapping配置Filter过滤器的拦截路径-->
    <filter-mapping>
        <!--filter-name 表示当前的拦截路径给哪个filter使用-->
        <filter-name>ManagerFilter</filter-name>
        <!--url-pattern 配置拦截路径
            / 表示请求的地址为 http://ip:port/工程路径/
        -->
        <url-pattern>/manager/*</url-pattern>
        <url-pattern>/pages/manager/*</url-pattern>
        <url-pattern>/manager/bookServlet</url-pattern>
    </filter-mapping>


    <!--配置处理订单系统的servlet-->
    <servlet>
        <servlet-name>ClientOrderServlet</servlet-name>
        <servlet-class>org.example.web.ClientOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientOrderServlet</servlet-name>
        <url-pattern>/client/orderServlet</url-pattern>
    </servlet-mapping>

    <!--配置处理前台业务的servlet-->
    <servlet>
        <servlet-name>ClientBookServlet</servlet-name>
        <servlet-class>org.example.web.ClientBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientBookServlet</servlet-name>
        <url-pattern>/client/bookServlet</url-pattern>
    </servlet-mapping>

    <!--配置谷歌验证码的servlet-->
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <!--这样写表示以照片的形式返回验证码-->
        <url-pattern>/kaptcha.jpg</url-pattern>
    </servlet-mapping>

    <!--配置处理后台业务的servlet-->
    <servlet>
        <servlet-name>ManagerBookServlet</servlet-name>
        <servlet-class>org.example.web.ManagerBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerBookServlet</servlet-name>
        <url-pattern>/manager/bookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>org.example.web.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>

</web-app>
